server:
  rootPath: '/api/'

env: prod

jwtTokenSecret: "cV2uHolULHblnTjc28BGbahb2UjwqN_iEu5yfgMo22KrOVr_9zeQ2i2zzN6ZwgXL"
expectedAudience: "T2HQUxSUXXutd1rigWpUvdEONkd5s1gm"

dbConfig:
  host: ds115110.mlab.com
  port: 15110
  dbName: heroku_w6bhtl9z
  user: heroku_w6bhtl9z
  password: ${MONGODB_PASS}


quotesConfig:
  barchartApiUrl: http://marketdata.websol.barchart.com/getQuote.json
  barchartApiKey: 440c3382a95ba20d096e2c34b6493ca1
  alphaVantageApiUrl: https://www.alphavantage.co/query
  alphaVantageApiKey: JXWZII6BBC1PKBPE
#  cacheTtl: 10000


server:
  applicationConnectors:
    - type: http
      port: ${PORT:-8080}
  adminConnectors:
    - type: http
      port: 8081


logging:
  level: INFO
  loggers:
    name.aknights: DEBUG
